.env
.env.*
!.env.example
.idea
.vscode
vendor
node_modules
php.local.ini

/bootstrap/cache/*.php
/bootstrap/cache/*.json
/bootstrap/cache/
/storage/*.key
/storage/
/storage/app/*
!/storage/app/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore

/.phpunit.result.cache
/public/hot
/public/storage
/coverage
/deploy.log
/assets/upload/googleTranslateCredential/
/assets/main-cedar-391910-cd7c5ebfdd8b.json
