.env
.env.*
!.env.example
.idea
.vscode
vendor
node_modules
php.local.ini

/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/storage/*.key
/storage/*
!/storage/.gitignore
!/storage/app/
!/storage/framework/
!/storage/logs/
/storage/app/*
!/storage/app/.gitignore
!/storage/app/public/
/storage/app/public/*
!/storage/app/public/.gitignore
/storage/framework/*
!/storage/framework/.gitignore
!/storage/framework/cache/
!/storage/framework/sessions/
!/storage/framework/testing/
!/storage/framework/views/
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
!/storage/framework/cache/data/
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore

/.phpunit.result.cache
/public/hot
/public/storage
/coverage
/deploy.log
/assets/upload/googleTranslateCredential/
/assets/main-cedar-391910-cd7c5ebfdd8b.json
